.fourth-sec {
    background-color: #0C0A12 !important;
}

.fourth-sec-text-box {
    width: 96px;
    height: 26px;
    border-radius: 38px;
    border: 1px solid #8D1EA2;
    box-shadow: 0px 4px 50px 0px #9F64EF66;
    box-shadow: 0px 0px 12px 0px #FFFFFF33 inset;
}

.fourth-sec-text {
    font-family: 'Aeonik-regular';
    font-size: 14px;
}

.fourth-sec-title {
    font-family: 'Sora-sb';
    font-size: 40px;
    color: #CAD1E9;
}

.fourth-sec-t-span {
    color: #E73DC4;
}
