.second-sec {
    background-color: #0C0A12;
    padding-top: 234px;
}

.second-sec-text-box {
    width: 84px;
    height: 26px;
    border-radius: 38px;
    border: 1px solid #8D1EA2;
    box-shadow: 0px 4px 50px 0px #9F64EF66;
    box-shadow: 0px 0px 12px 0px #FFFFFF33 inset;
}

.second-sec-text {
    font-family: 'Aeonik-regular';
    font-size: 14px;
}

.second-sec-title {
    font-family: 'Sora-sb';
    font-size: 40px;
    color: #CAD1E9;
}

.second-sec-t-span {
    color: #E73DC4;
}

.second-sec-subtitle {
    font-family: 'Aeonik-regular';
    color: #CAC6DD;
    font-size: 24px;
}

.card-feature {
    border: 2px solid;
    border-image: linear-gradient(90deg, #101132, #777CF700) 1;
    border-radius: 20px;
    padding: 40px;
    background: linear-gradient(135deg,
            rgba(0, 0, 0, 0.4),
            rgba(83, 84, 108, 0.3)
        );
    backdrop-filter: blur(15px);
}

.feature-title {
    font-family: 'Aeonik-md';
    font-size: 32px;
    color: #CAD1E9;
}

.feature-text {
    font-family: 'Aeonik-regular';
    font-size: 20px;
    color: #CAC6DD;
}

